body {
}

.short-detail {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

